.sidebar{
  background-color: rgb(49, 48, 48);
  width: 120px;
  height: calc(100vh - 56px);
  position: fixed;
}

.sidebar a{
  color: rgb(210, 210, 210);
  text-decoration: none;
  display: block;
  padding: 10px;
}
.sidebar a.active{
  background-color: rgb(107, 97, 97);
  text-decoration: underline;
}
.sidebar a:hover{
  background-color: rgb(186, 175, 175);
  text-decoration: unset
}